/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design/";
@import "ripples";

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.navbar .navbar-toggle .icon-bar {background-color: inherit;border: 1px solid;}
.navbar-form {
  margin-top: 0px !important;
}
.word {
  font-family: 'Cherry Cream Soda';
  color: #f0ad4e;
}
.meanings {
  font-family: Sniglet !important; 
} 
.examples {   
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
}
.example-title {
  font-family: Arial, Helvetica, sans-serif;  
  color: #FAAC58;
}
i {
  padding-right: 10px;
  font-size: 14px !important;
  color: #D8D8D8;
}